.App {
  text-align: center;
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container-fluid {
  padding: 0;
}

.App-link {
  color: #09d3ac;
}
body {
  color: #7e583f;
}

/* Splash  */
.container-fluid {
  padding-left: 0px;
}

.btn-group-price {
  margin: 0.4rem 0.4rem;
}

.btn-group-item {
  margin: 0.3rem 0.3rem;
}

.links {
  font-size: 1.2rem;
  color: #7e583f;
}

.links-small {
  font-size: 0.8rem;
}
