.logout:hover {
    transform: scale(1.5);
}

.logout:active {
    transform: scale(.5);
}

.logout {
    transition: all .5s;
    width: 8%;
    float: left;
}

@media only screen and (min-width: 900px) {
    .card {
        padding: 0 20%;
    }
}